In [66]:
import pandas as pd
df = pd.read_csv('spaceship_tt.csv')

In [67]:
df['CryoSleep'] = df['CryoSleep']*1
df['Transported'] = df['Transported']*1
df['VIP'] = df['VIP']*1

In [68]:
df.isna().sum()
# 결측치를 가장 나이스하게 전처리했는가가 성능에 중요한 기준이 된다.
# 이진분류라 대부분 모델은 비슷하게 사용될 것
# 전처리가 너무나 중요하다.
# 모델링 했는데 성능이 안 나와요-> 전처리 다시 확인해야 한다.

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [69]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [70]:
#전처리 안 하고 베이스 모델로 정확도 평가해 보자
df_base=df[['CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Transported']]

In [11]:
df_base.dropna(inplace=True)

/var/folders/sz/167qwb595mqgwry5mm8685n00000gn/T/ipykernel_50065/4041985548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base.dropna(inplace=True)

In [74]:
df_base

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...
8688,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [76]:
dt_clf = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(df_base.drop('Transported',axis=1),df_base['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf = dt_clf.fit(X_train,y_train)

In [18]:
X_train

     CryoSleep   Age VIP  RoomService  FoodCourt  ShoppingMall    Spa  VRDeck
5664         0  10.0   0          0.0        0.0           0.0    0.0     0.0
6303         0  28.0   0         32.0        0.0         304.0  291.0     2.0
963          0   0.0   0          0.0        0.0           0.0    0.0     0.0
6375         0  21.0   0       1244.0        0.0        1119.0    0.0     3.0
8299         0  34.0   0          0.0     3126.0           0.0  112.0    15.0
...        ...   ...  ..          ...        ...           ...    ...     ...
5017         1  38.0   0          0.0        0.0           0.0    0.0     0.0
5787         0  33.0   1          0.0     3095.0           0.0  197.0    40.0
2429         1  34.0   0          0.0        0.0           0.0    0.0     0.0
8421         0  39.0   0       2101.0       41.0           0.0  525.0    19.0
4717         1  13.0   0          0.0        0.0           0.0    0.0     0.0

[5075 rows x 8 columns]

In [77]:
#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred = dt_clf.predict(X_test)
accuracy = accuracy_score(y_test, pred)
print(accuracy)
print(dt_clf.get_params())

0.7427147239263804
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

### 개인 csv파일로 모델링 진행
- submit.csv

In [25]:
tt_1=pd.read_csv('submit.csv')

In [28]:
tt_1

,HomePlanet,CryoSleep,Destination,deck,num,side,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,1,1,1,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,0,5,5,5,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,1,0,0,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,1,0,0,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,0,5,5,5,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,1,0,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,0,1,0,6,6,6,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,0,0,0,6,6,6,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,1,0,1,4,4,4,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,1,0,1,4,4,4,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [29]:
tt_2=pd.read_csv('김수빈43_230730.csv')

In [31]:
tt_2.columns

Index(['Unnamed: 0', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'CryoSleep_False', 'CryoSleep_True', 'Cabin_A',
       'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G',
       'Cabin_T', 'Cabin_n', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'Age',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported'],
      dtype='object')

In [32]:
tt_2=tt_2[['HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'CryoSleep_False', 'CryoSleep_True', 'Cabin_A',
       'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G',
       'Cabin_T', 'Cabin_n', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'Age',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported']]

In [33]:
tt_2

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0,1,0,1,0,0,1,0,0,0,...,0,0,1,0.705882,0.000000,0.000000,0.000000,0.000000,0.000000,False
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,-0.176471,2.270833,0.113924,0.961538,8.854839,0.956522,True
2,0,1,0,1,0,1,0,0,0,0,...,0,0,1,1.823529,0.895833,45.265823,0.000000,108.306452,1.065217,False
3,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0.352941,0.000000,16.240506,14.269231,53.693548,4.195652,False
4,1,0,0,1,0,0,0,0,0,0,...,0,0,1,-0.647059,6.312500,0.886076,5.807692,9.112903,0.043478,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7780,0,1,0,1,0,1,0,0,0,0,...,1,0,0,0.823529,0.000000,86.316456,0.000000,26.500000,1.608696,False
7781,1,0,0,0,1,0,0,0,0,0,...,0,1,0,-0.529412,0.000000,0.000000,0.000000,0.000000,0.000000,False
7782,1,0,0,1,0,0,0,0,0,0,...,0,0,1,-0.058824,0.000000,0.000000,72.000000,0.016129,0.000000,True
7783,0,1,0,1,0,0,0,0,0,1,...,1,0,0,0.294118,0.000000,13.278481,0.000000,5.693548,70.326087,False
7784,0,1,0,1,0,0,0,0,0,1,...,0,0,1,1.000000,2.625000,59.341772,0.000000,0.000000,0.260870,True

In [35]:
tt_3=pd.read_csv('space_tt_scale.csv')

In [37]:
tt_3.columns

Index(['Unnamed: 0', 'HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported', 'group_size', 'side', 'deck'],
      dtype='object')

In [38]:
tt_3=tt_3[['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported', 'group_size', 'side', 'deck']]

In [39]:
tt_3

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group_size,side,deck
0,1,0,2,0.493671,0,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,0,1,1,1
1,0,0,2,0.303797,0,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,1,1,2,5
2,1,0,2,0.734177,1,-0.268001,1.959998,-0.283579,5.695623,-0.219796,0,2,2,0
3,1,0,2,0.417722,0,-0.333105,0.523010,0.336851,2.687176,-0.092818,0,2,2,0
4,0,0,2,0.202532,0,0.125652,-0.237159,-0.031059,0.231374,-0.261240,1,1,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,0.518987,1,-0.333105,3.992336,-0.283579,1.189173,-0.197751,0,1,1,0
8689,0,1,1,0.227848,0,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,0,1,2,6
8690,0,0,2,0.329114,0,-0.333105,-0.281027,2.846999,-0.269737,-0.263003,1,1,2,6
8691,1,0,0,0.405063,0,-0.333105,0.376365,-0.283579,0.043013,2.589576,0,2,2,4
8692,1,0,2,0.556962,0,-0.142335,2.656871,-0.283579,-0.270626,-0.252422,1,2,2,4

In [40]:
tt_4=pd.read_csv('newtt.csv')

In [42]:
tt_4.columns

Index(['Unnamed: 0', 'CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'HomePlanet_Earth',
       'HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e'],
      dtype='object')

In [43]:
tt_4=tt_4[['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'HomePlanet_Earth',
       'HomePlanet_Europa', 'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e']]

In [44]:
tt_4

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,39.0,0,-0.349932,-0.288682,-0.313151,-0.276932,-0.272651,0,0,1,0,0,0,1
1,0,24.0,0,-0.182508,-0.283373,-0.270187,0.198266,-0.233996,1,1,0,0,0,0,1
2,0,58.0,1,-0.283884,1.820999,-0.313151,5.535366,-0.229604,0,0,1,0,0,0,1
3,0,33.0,0,-0.349932,0.468231,0.324431,2.604548,-0.103099,0,0,1,0,0,0,1
4,0,16.0,0,0.115477,-0.247385,-0.053650,0.212115,-0.270894,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6461,0,41.0,1,-0.349932,3.734226,-0.313151,1.145198,-0.207641,0,0,1,0,1,0,0
6462,1,18.0,0,-0.349932,-0.288682,-0.313151,-0.276932,-0.272651,0,1,0,0,0,1,0
6463,0,26.0,0,-0.349932,-0.288682,2.903975,-0.276066,-0.272651,1,1,0,0,0,0,1
6464,0,32.0,0,-0.349932,0.330181,-0.313151,0.028614,2.569315,0,0,1,0,1,0,0
6465,0,44.0,0,-0.156396,2.477030,-0.313151,-0.276932,-0.262109,1,0,1,0,0,0,1

In [47]:
tt_5=pd.read_csv('scaled_tt.csv')

In [49]:
tt_5.columns

Index(['Unnamed: 0', 'Earth', 'Europa', 'Mars', 'CryoSleep_F', 'CryoSleep_T',
       'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'P', 'S', '55 Cancri e',
       'PSO J318.5-22', 'TRAPPIST-1e', 'vip_F', 'vip_T', 'Age', 'Spa',
       'Roomservice', 'FoodCourt', 'ShoppingMall', 'VRDeck', 'transported'],
      dtype='object')

In [50]:
tt_5=tt_5[['Earth', 'Europa', 'Mars', 'CryoSleep_F', 'CryoSleep_T',
       'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'P', 'S', '55 Cancri e',
       'PSO J318.5-22', 'TRAPPIST-1e', 'vip_F', 'vip_T', 'Age', 'Spa',
       'Roomservice', 'FoodCourt', 'ShoppingMall', 'VRDeck', 'transported']]

In [52]:
tt_5['transported'] =tt_5['transported']*1

/var/folders/sz/167qwb595mqgwry5mm8685n00000gn/T/ipykernel_50065/367736590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt_5['transported'] =tt_5['transported']*1

In [53]:
tt_5

,Earth,Europa,Mars,CryoSleep_F,CryoSleep_T,A,B,C,D,E,...,TRAPPIST-1e,vip_F,vip_T,Age,Spa,Roomservice,FoodCourt,ShoppingMall,VRDeck,transported
0,0,1,0,1,0,0,1,0,0,0,...,1,1,0,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.303797,0.629907,0.491170,0.223493,0.323723,0.377219,1
2,0,1,0,1,0,1,0,0,0,0,...,1,0,1,0.734177,0.879710,0.395423,0.794185,0.000000,0.387660,0
3,0,1,0,1,0,1,0,0,0,0,...,1,1,0,0.417722,0.809679,0.000000,0.694741,0.588099,0.522016,0
4,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.202532,0.632770,0.597392,0.413743,0.499171,0.108866,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0.518987,0.739216,0.000000,0.856823,0.000000,0.427839,0
8689,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0
8690,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.329114,0.069196,0.000000,0.000000,0.748704,0.000000,1
8691,0,1,0,1,0,0,0,0,0,1,...,0,1,0,0.405063,0.585921,0.000000,0.675214,0.000000,0.800891,0
8692,0,1,0,1,0,0,0,0,0,1,...,1,1,0,0.556962,0.000000,0.506186,0.820459,0.000000,0.254172,1

In [55]:
dt_clf1 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(tt_1.drop('Transported',axis=1),tt_1['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf1 = dt_clf1.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred1 = dt_clf1.predict(X_test)
accuracy = accuracy_score(y_test, pred1)
print(accuracy)
print(dt_clf1.get_params())

0.7273773006134969
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [56]:
dt_clf2 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(tt_2.drop('Transported',axis=1),tt_2['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf2= dt_clf2.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred2 = dt_clf2.predict(X_test)
accuracy = accuracy_score(y_test, pred2)
print(accuracy)
print(dt_clf2.get_params())

0.7294520547945206
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [57]:
dt_clf3 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(tt_3.drop('Transported',axis=1),tt_3['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf3= dt_clf3.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred3 = dt_clf3.predict(X_test)
accuracy = accuracy_score(y_test, pred3)
print(accuracy)
print(dt_clf3.get_params())

0.723542944785276
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [58]:
dt_clf4 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(tt_4.drop('Transported',axis=1),tt_4['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf4= dt_clf4.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred4 = dt_clf4.predict(X_test)
accuracy = accuracy_score(y_test, pred4)
print(accuracy)
print(dt_clf4.get_params())

0.7402061855670103
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [60]:
tt_5

,Earth,Europa,Mars,CryoSleep_F,CryoSleep_T,A,B,C,D,E,...,TRAPPIST-1e,vip_F,vip_T,Age,Spa,Roomservice,FoodCourt,ShoppingMall,VRDeck,transported
0,0,1,0,1,0,0,1,0,0,0,...,1,1,0,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.303797,0.629907,0.491170,0.223493,0.323723,0.377219,1
2,0,1,0,1,0,1,0,0,0,0,...,1,0,1,0.734177,0.879710,0.395423,0.794185,0.000000,0.387660,0
3,0,1,0,1,0,1,0,0,0,0,...,1,1,0,0.417722,0.809679,0.000000,0.694741,0.588099,0.522016,0
4,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.202532,0.632770,0.597392,0.413743,0.499171,0.108866,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0.518987,0.739216,0.000000,0.856823,0.000000,0.427839,0
8689,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0
8690,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.329114,0.069196,0.000000,0.000000,0.748704,0.000000,1
8691,0,1,0,1,0,0,0,0,0,1,...,0,1,0,0.405063,0.585921,0.000000,0.675214,0.000000,0.800891,0
8692,0,1,0,1,0,0,0,0,0,1,...,1,1,0,0.556962,0.000000,0.506186,0.820459,0.000000,0.254172,1

In [61]:
dt_clf5 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(tt_5.drop('transported',axis=1),tt_5['transported'],
                                                   test_size=0.3, random_state=111)

dt_clf5= dt_clf5.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred5 = dt_clf5.predict(X_test)
accuracy = accuracy_score(y_test, pred5)
print(accuracy)
print(dt_clf5.get_params())

0.7427147239263804
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [63]:
tt_5.columns

Index(['Earth', 'Europa', 'Mars', 'CryoSleep_F', 'CryoSleep_T', 'A', 'B', 'C',
       'D', 'E', 'F', 'G', 'T', 'P', 'S', '55 Cancri e', 'PSO J318.5-22',
       'TRAPPIST-1e', 'vip_F', 'vip_T', 'Age', 'Spa', 'Roomservice',
       'FoodCourt', 'ShoppingMall', 'VRDeck', 'transported'],
      dtype='object')

- 문자열 인코딩, 
- cabin 넘버는 제외 문자열 split 따로 빼서 진행
- 나머지 컬럼은 숫치형이라 스케일링 진행 
- age 정규분포로 확인이 되어 stand 
- 나머지는 로그스케일, minmax로 진행

In [64]:
tt_5

,Earth,Europa,Mars,CryoSleep_F,CryoSleep_T,A,B,C,D,E,...,TRAPPIST-1e,vip_F,vip_T,Age,Spa,Roomservice,FoodCourt,ShoppingMall,VRDeck,transported
0,0,1,0,1,0,0,1,0,0,0,...,1,1,0,0.493671,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.303797,0.629907,0.491170,0.223493,0.323723,0.377219,1
2,0,1,0,1,0,1,0,0,0,0,...,1,0,1,0.734177,0.879710,0.395423,0.794185,0.000000,0.387660,0
3,0,1,0,1,0,1,0,0,0,0,...,1,1,0,0.417722,0.809679,0.000000,0.694741,0.588099,0.522016,0
4,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.202532,0.632770,0.597392,0.413743,0.499171,0.108866,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0,1,0,1,0,1,0,0,0,0,...,0,0,1,0.518987,0.739216,0.000000,0.856823,0.000000,0.427839,0
8689,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0.227848,0.000000,0.000000,0.000000,0.000000,0.000000,0
8690,1,0,0,1,0,0,0,0,0,0,...,1,1,0,0.329114,0.069196,0.000000,0.000000,0.748704,0.000000,1
8691,0,1,0,1,0,0,0,0,0,1,...,0,1,0,0.405063,0.585921,0.000000,0.675214,0.000000,0.800891,0
8692,0,1,0,1,0,0,0,0,0,1,...,1,1,0,0.556962,0.000000,0.506186,0.820459,0.000000,0.254172,1

- BASE 전처리 - 0.7601102941176471
- BASE 결측치 날리지 않은 경우 -0.7427147239263804
- tt_5 - 0.7427147239263804

- 전치를 안 하고도 7427나오는데 
- 우리가 전처리를 했는데 비슷해요
- 성능이 높아지지 않았다.
- 타겟과의 관계 등을 고려하고, 실제 데이터들의 시각화를 통해 분포 및 범주들을 확인하고 변수를 추가해야 하며
- 오히려 많은 변수들을 추가한다는 게 더 높은 성능을 보이는 건 아니다.
- 결측치를 더 잘 처리하는 것도 정말 중요하다.

In [79]:
df['psid_cnt']= df['PassengerId'].str[:4]

In [82]:
#전처리를 원하는 건 한 공간에 몇 명이 같이 탑승했는가? 
df_psid=pd.DataFrame(df.groupby('psid_cnt')['PassengerId'].count()).reset_index()

In [83]:
df_psid

     psid_cnt  PassengerId
0        0001            1
1        0002            1
2        0003            2
3        0004            1
4        0005            1
...       ...          ...
6212     9275            3
6213     9276            1
6214     9278            1
6215     9279            1
6216     9280            2

[6217 rows x 2 columns]

In [85]:
df_pre1 =pd.merge(df, df_psid, left_on= 'psid_cnt',right_on='psid_cnt', how='inner')

In [87]:
df_pre1.PassengerId_y.value_counts()

PassengerId_y
1    4805
2    1682
3    1020
4     412
5     265
7     231
6     174
8     104
Name: count, dtype: int64

In [88]:
df_pre1['PassengerId_y'].isna().sum()

0

In [90]:
df_pre1.columns

Index(['PassengerId_x', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination',
       'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'Name', 'Transported', 'psid_cnt', 'PassengerId_y'],
      dtype='object')

In [93]:
df_pre1=df_pre1[['HomePlanet', 'CryoSleep', 'Cabin', 'Destination',
       'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'Name', 'Transported', 'PassengerId_y']]

In [95]:
df_pre1=df_pre1[['CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Transported','PassengerId_y']]

In [96]:
df_pre1

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerId_y
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1,1
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,2
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,2
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1,1
...,...,...,...,...,...,...,...,...,...,...
8688,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,1
8689,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0,1
8690,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,1
8691,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,2
8692,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,2

In [97]:
dt_clf6 = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(df_pre1.drop('Transported',axis=1),df_pre1['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf6 = dt_clf6.fit(X_train,y_train)

#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score
#하이퍼파라미터 튜닝하지 않은 base_model
pred6 = dt_clf6.predict(X_test)
accuracy = accuracy_score(y_test, pred6)
print(accuracy)
print(dt_clf6.get_params())

0.741180981595092
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}

In [99]:
# 방금 새로운 컬럼 추가0.741180981595092
# 베이스라인 0.7427147239263804
# tt_5 - 0.7427147239263804

# 파생변수 하나 추가했는데 오히려 더 떨어진 거 아닌가? 정확도가 더 떨어졌다.
# 왜 떨어졌나?
pd.DataFrame(df_pre1.groupby(['PassengerId_y','Transported'])['VIP'].count()).reset_index()

    PassengerId_y  Transported   VIP
0               1            0  2574
1               1            1  2117
2               2            0   760
3               2            1   885
4               3            0   403
5               3            1   589
6               4            0   146
7               4            1   261
8               5            0   103
9               5            1   151
10              6            0    65
11              6            1   106
12              7            0   103
13              7            1   125
14              8            0    62
15              8            1    40

- 파생변수를 만들거나 전처리를 진행할 때
- 모든 변수를 다 사용할 필요도 없고, 파생변수를 만들 때도 정답 레이블과 비교하여 정답레이블을 잘 나눌 수 있는 이 부분을 꼭 잘 이해해야 한다.

### 필수과제1
- 데이터 전처리를 진행하고, 실제 모델링을 진행하여 예측값을 확인하고 비교할 예정
- accuracy, f1스코어도 보면서 어떤 식으로 전처리한 결과가 나오는지 확인할 예정